 body {
  width: 230px;
  background: #01050f;
  color: rgb(241, 241, 243);
  font-family: Arial, sans-serif;
  padding: 10px;
  text-align: center;
}

h2 {
  margin-bottom: 5px;
}

#domain {
  font-size: 12px;
  color: #e6e9eb;
  margin-bottom: 10px;
  text-align: center;
}

button, select {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  border: 5px;
  font-weight: bold;
}

button {
 background: #ec0511;
  cursor: pointer;
}

button:hover {
  background: #dbdd46;
}

select {
  background: #05ec05;
  color: rgb(247, 245, 246);
}


